.drw {
	width: 30%;
	height: 30%;
	position: absolute;
	margin:auto;
	bottom: 15%;
	right: 15%;
  /*애니메이션*/
/*   animation-name: animate;
  animation-duration: 3s; */
   	
  	animation: weit 1s  infinite alternate;
}
@keyframes weit{
  from{
    right: 20px;
    bottom: 20px;
  }
  to{
    right: 30px;
    bottom: 30px;
  }
}
@keyframes go{
  from{
    right: 20px;
    bottom: 20px;
  }
  to{
    right: 600px;
    bottom: 200px;
    width: 20%;
    height: 20%;
    
  }
}
@keyframes come{
  from{
    left: 25%;
	bottom: 25%;
  }
  to{
    left: -5%;
	bottom:-30%;
    width: 100%;
    height: 100%;
    
  }
}


.wbc {
	background: url('/pro/img/road.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

span{
	font-size: 10em;
	top: 10em;
	font-weight: bold;
	color: #0D47A1; 
	text-shadow: 4px 4px 0px #1565C0, 8px 8px 0px #42A5F5, 12px 12px 0px #E3F2FD;
}
#d,#r,#w{
	visibility: hidden;
}
.title{
	text-align: center;
	margin-top: 400px;
	margin-right: 20%;
}
.car{
	position: absolute;
	left: 25%;
	bottom: 25%;
	width: 5%;
	height: 5%:
}